Host 127.0.0.1
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

Host *
    AddKeysToAgent yes
    UseKeychain yes

Host pi
    User pi
    HostName home.listfeeder.net
Host ds1821
    User admin
    HostName ds1821.home.listfeeder.net
Host ds1513
    User admin
    HostName ds1513.home.listfeeder.net
